{% extends 'layouts/app.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Contact
				</div>
				<div class="panel-body">
          Thanks, we have your message!<br/><br/>
          {{ message }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
